* {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}
.nav-bar {
  background-color: rgb(230, 224, 224);
  height: 80px;
}
.container {
  max-width: 1600px;
  margin: auto;
}
.common-btn {
  background-color: #1d4ed8;
  padding: 14px 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  border: none;
  cursor: pointer;
}
.outline-btn {
  background-color: #e2e4e9;
  padding: 14px 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  color: #0e0202;
  border: none;
  cursor: pointer;
}
.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 5px auto; */
  padding: 10px 60px 30px 20px;
  align-items: center;
  width: 100%;
  max-width: 1550px;
  margin: auto;
}
ul {
  align-items: center;
  list-style: none;
  display: flex;
  gap: 25px;
}
ul li {
  text-decoration: none;
  color: #575757;
  font-weight: 400;
  font-size: 17px;
}

.banner {
  position: relative;
  height: 100vh;
  background-image: url(./assets/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
}
.banner-content {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 20px;
  align-items: center;
}

.banner-content h1 {
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  /* margin-top: 160px; */
}
.banner-content p {
  margin-bottom: 150px;
  color: #ffffff;
}
/* Speaker Section  */
.speaker-parent {
  margin: 60px auto;
}
.meet-speaker h1 {
  font-size: 70px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}
.speaker-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.cnn1 {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  overflow: hidden;
  height: 500px;
}
.speaker-card img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.text-item {
  padding: 20px;
  height: 90px;
}
.passion {
  color: #1d4ed8;
}
.role1 {
  color: rgb(177, 157, 157);
}

/* Pricing Card  */
.pricing-card-parent {
  padding: 60px 20px;
  width: 100%;
}
.pricing-head {
  text-align: center;
  margin-bottom: 50px;
}
.pricing-head h1 {
  font-size: 50px;
  font-weight: 700px;
}
.pricing-head p {
  margin-top: 10px;
  color: rgb(150, 143, 143);
}
.pricing-card {
  display: flex;
  justify-content: center;
  list-style: circle;
  gap: 25px;
  flex-wrap: wrap;
}
.plan-card {
  width: 340px;
  background: #fff;
  border: 1px solid #e4e7ec;
  border-radius: 12px;
  padding: 22px;
}
.plan-card ul {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  list-style: outside;
  ::marker {
    color: #1e5be6;
  }
}
.plan-card ul li {
  font-size: 15px;
  font-weight: 400;
}
.pro1 button:hover {
  background: #a0a9bd;
}
.pro1 {
  background-color: black;
  color: white;
}
.pro1 ul li {
  color: rgb(150, 143, 143);
}
.plan2 {
  color: blue;
}
.plan {
  color: rgb(150, 143, 143);
}

/* footer design */
.footer {
  background-color: #737885;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 0px;
}
.left-foot {
  display: flex;
  align-items: center;
  gap: 80px;
}
.left-foot img {
  width: 95px;
  margin: 20px;
}
.tth {
  height: 35px;
  margin: 20px;
  width: 35px;
  color: white;
}
